h1, h2, h3, h4, h5, h6 {
  
  font-family: 'Josefin Slab', serif;
}

body {
  margin-top: 40px;
}

.main {
  margin-left: 40px;
  .side-nav {
    position: fixed;
    h2, h5 { 
      margin: 0; 
      line-height: 1;
    }
    li > a {
      font-size: 16px;
      padding-left: 0;
    }
    img {
      border-radius: 1000px;
    }
  }
}

.content {
  margin-top: 20px;
}
